<form>
  <p class="note">{{localize "items-with-spells-5e.SETTINGS.ITEM_EXCLUSION.HINT"}}</p>
  {{#each types as |type|}}
  <div class="form-group">
    <label for="items-with-spells-setting-{{type.value}}">{{type.label}}</label>
    <div class="form-fields">
      <input type="checkbox" name="{{type.value}}" id="items-with-spells-setting-{{type.value}}" {{checked type.checked}}>
    </div>
  </div>
  {{/each}}
  <button type="submit"><i class="fa-solid fa-save"></i> {{localize "Save"}}</button>
</form>
