<div class="items-with-spells-tab">
  <ol class="items-list items-with-spells-items-list">
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">
        {{localize 'ITEM.TypeSpellPl'}}
      </h3>

      <div class="item-detail">
        {{localize 'DND5E.ActionSave'}}
      </div>

      <div class="item-detail spell-uses">
        {{localize 'DND5E.Uses'}}
      </div>

      <div class="item-detail spell-uses">
        {{localize 'DND5E.Charges'}}
      </div>

      <div class="item-controls"></div>

    </li>

    <ol class="item-list">
      {{#each itemSpells as |spell|}}
      <li class="item context-enabled flexrow" data-item-id="{{spell.id}}">
        <div class="item-name flexrow rollable">
          <div class="item-image" style="background-image: url({{spell.img}})">{{{ @root/rollIcon }}}</div>
          <h4>{{spell.name}}</h4>
        </div>

        <div class="item-detail item-with-spells-item-detail">
          {{#if spell.labels.save}}
          <span title="{{labels.save}}">{{labels.save}}</span>
          {{/if}}
        </div>

        <div class="item-detail item-with-spells-item-detail">
          {{#if (gt spell.system.uses.max 0)}}
          {{spell.system.uses.max}}
          <span class="sep">{{ localize "DND5E.per" }}</span>
          {{lookup @root/config.limitedUsePeriods spell.system.uses.per}}
          {{/if}}
        </div>

        <div class="item-detail item-with-spells-item-detail">
          {{#if (gt spell.system.consume.amount 0)}}
          {{spell.system.consume.amount}}
          {{localize 'DND5E.Charges'}}
          {{/if}}
        </div>

        <div class="item-controls flexrow context-menu item-with-spells-item-controls">
          {{#if @root/isOwner}}
          <a class="item-control configure-overrides" title="Configure{{#unless @root/isOwned}} Overrides{{/unless}}"><i class="fas fa-edit"></i></a>

          {{#if @root/isOwned}}
          <a class="item-control item-destroy" title="Delete Spell"><i class="fas fa-trash"></i></a>
          {{else}}
          <a class="item-control item-delete" title="Remove Link"><i class="fas {{#if @root/isOwned}}fa-link-slash{{else}}fa-trash{{/if}}"></i></a>
          {{/if}}

          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </ol>

</div>
